/* bg-color: #24273a;  rgb(36, 39, 58) */
/* bg-accent-color: #363a4f;  rgb(54, 58, 79) */
/* primary-color: #f4dbd6;  rgb(244, 219, 214) */
/* primary-accent-color: #f5bde6;  rgb(245, 189, 230) */
/* secondary-color: #8db5ca;  rgb(141, 181, 202) */
/* secondary-accent-color: #91d7e3;  rgb(145, 215, 227) */

* {
  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono";
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.separator {
  min-width: 8px;
  min-height: 8px;
}

.bar {
  margin: 0;
  padding: 8px 12px;
  background-color: rgba(36, 39, 58, 0.5);
}

.launcher {
  background-color: rgba(36, 39, 58, 1);
  padding: 0;
  margin: 0;
  min-width: 36px;
  min-height: 36px;
  border-radius: 100%;
  transition: background-color 0.1s ease-in-out;
}

.launcher_icon {
  background: #f5bde6;
  min-width: 14px;
  min-height: 14px;
  border-radius: 100%;
}

.launcher:hover .launcher_icon {
  min-width: 36px;
  min-height: 36px;
  transition: all 0.2s ease-in-out;
}

.launcher:hover .launcher_icon,
.launcher_active .launcher_icon {
  min-width: 36px;
  min-height: 36px;
  transition: all 0.2s ease-in-out;
}

.workspaces,
.clock,
.battery_header {
  margin: 0 2px 0 2px;
  padding: 8px 20px 8px 20px;
  background-color: rgba(36, 39, 58, 0.75);
  border-radius: 42px;
  transition: background-color 0.2s ease-in-out;
}

.workspaces:hover,
.clock:hover,
.system_indicators:hover,
.perfs_header:hover,
.battery_header:hover {
  background-color: rgba(54, 58, 79, 1);
  transition: background-color 0.2s ease-in-out;
}

.workspaces .workspace-indicator {
  min-width: 14px;
  min-height: 14px;
  border-radius: 100px;
  margin: 0 5px;
  transition:
    min-width 0.2s ease,
    background-color 0.2s ease-out;
  background-color: rgba(255, 255, 255, 0.17);
}

.workspaces .workspace-indicator:last-child {
  margin-right: 0px;
}

.workspaces .workspace-indicator:first-child {
  margin-left: 0px;
}

.workspaces .workspace-indicator:hover {
  background-color: rgba(244, 219, 214, 0.6);
}

.workspaces .workspace-indicator.active,
.workspaces .workspace-indicator:active {
  min-width: 42px;
  border-radius: 100px;
  background-color: #f5bde6;
}

.system_indicators {
  border-radius: 42px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0 2px 0 2px;
  background-color: rgba(36, 39, 58, 0.75);
  transition: background-color 0.2s ease-in-out;
  padding: 8px 10px 8px 10px;
}

.bar_controlcenter > *,
.tray > * {
  padding: 0 0 0 8px;
}

.battery_header {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.battery_full {
  background-color: #a6da95;
}

.battery_full > *,
.battery_low > * {
  color: #363a4f;
}

.battery_low {
  background-color: #f5a97f;
}

.battery_critical {
  background-color: #ed8796;
}

.applauncher,
.clipboard,
.controlcenter_container,
.notification_container,
.power_container,
.menu {
  margin-top: 8px;
  margin-right: 8px;
  background-color: rgba(36, 39, 58, 0.9);
  padding: 20px;
  border-radius: 24px;
  border: 1px solid rgba(54, 58, 79, 0.08);
}

.active {
  background-color: rgba(54, 58, 79, 1);
}

.quicksettings_button {
  background-color: rgba(54, 58, 79, 0.6);
  padding: 0px;
  border-radius: 30px;
  min-width: 220px;
  min-height: 75px;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.quicksettings_button.active {
  background-color: #f5bde6;
  color: #363a4f;
}

.quicksettings_button > * {
  border-radius: 24px;
}

.quicksettings_button image {
  margin-left: 22px;
  margin-right: 18px;
}

.quicksettings_button .title {
  font-weight: 600;
}

.slider_tooltip {
  color: #363a4f;
  background-color: #f5bde6;
  padding: 0;
  border-radius: 100px;
  min-width: 42px;
  min-height: 42px;
  margin-right: 8px;
  font-size: 18px;
}

.volume_box .arrow {
  background-color: rgba(233, 225, 220, 0.08);
  padding: 0;
  border-radius: 100px;
  min-width: 42px;
  min-height: 42px;
  margin-left: 8px;
}

.volume_slider trough,
.brightness_slider trough {
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
  border-radius: 100px;
  background-color: rgba(233, 225, 220, 0.08);
  min-height: 42px;
}
.volume_slider trough highlight,
.volume_slider trough progress,
.brightness_slider trough highlight,
.brightness_slider trough progress {
  border-radius: 100px;
  background-color: #f5bde6;
  border-radius: 100px;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}
.volume_slider trough slider,
.brightness_slider trough slider {
  border-radius: 100px;
  min-height: 42px;
  min-width: 42px;
  background-color: transparent;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

window.popup menu {
  margin-top: 8px;
  margin-right: 8px;
  background-color: rgba(36, 39, 58, 0.9);
  padding: 20px;
  border-radius: 24px;
  border: 1px solid rgba(54, 58, 79, 0.08);
}

window.popup menu menuitem,
.update_system,
.bg_header,
.notifications_clear,
.power_header {
  padding: 8px 10px;
  border-radius: 8px;
  transition: background 0.1s ease;
}

window.popup menu menuitem:hover,
.update_system:hover,
.bg_header:hover,
.notifications_clear:hover,
.power_header:hover {
  background-color: rgba(54, 58, 79, 1);
}

window.popup menu menuitem:first-child {
  margin-top: 0;
}

window.popup menu menuitem:last-child {
  margin-bottom: 0;
}

#applauncher .applauncher .header entry {
  padding-left: 14px;
  font-size: 16px;
}
#applauncher .applauncher scrolledwindow {
  min-width: 400px;
  min-height: 550px;
}

.applauncher_header > image {
  margin-right: 8px;
}

#applauncher .applauncher .app-item {
  transition: all 0.2s ease;
  padding: 12px;
  border-radius: 24px;
}

#applauncher .applauncher .app-item label.description {
  color: rgba(244, 219, 214, 0.75);
}

#applauncher .applauncher .app-item image {
  transition: all 0.2s ease;
  margin-left: 2px;
  margin-right: 10px;
}

#applauncher .applauncher .app-item:hover {
  background: #363a4f;
}

#applauncher .applauncher .app-item:hover .title {
  color: #f4dbd6;
}

#applauncher .applauncher .app-item:focus {
  background: #f5bde6;
}

#applauncher .applauncher .app-item:focus .title {
  color: #24273a;
}

#applauncher .applauncher .app-item:focus label.description {
  color: #363a4f;
}

.notifications {
  padding-left: 10px;
  min-width: 300px;
}

.calendar_header {
  min-width: 200px;
  padding-right: 10px;
}

.calendar calendar {
  padding: 0.2em 0.1em 0.2em 0.1em;
  border-radius: 100px;
  font-size: 1em;
}

.calendar calendar:hover {
  background-color: #f5bde6;
}
.calendar calendar:selected {
  min-width: 60px;
  min-height: 60px;
  background-color: #f5bde6;
  color: #363a4f;
}

.artist {
  font-size: 10px;
}

.player_button Button:hover {
  color: #f5bde6;
}

.notification:first-child > box {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.notification:last-child > box {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.notification > box {
  padding: 14px 16px 14px 14px;
  margin-bottom: 4px;
  color: #f4dbd6;
  background-color: rgba(36, 39, 58, 0.9);
  border-radius: 4px;
}

.notification .icon {
  margin-right: 16px;
  background: rgba(233, 225, 220, 0.08);
  border-radius: 20px;
}

.notification .title {
  margin-bottom: 4px;
  color: #fff;
}

.notification .description {
  font-size: 12px;
  color: #f4dbd6;
}

.notification .time {
  font-size: 12px;
  color: #fff;
}

.notification .action-button {
  margin-top: 14px;
}

.notification .close-button {
  margin-left: 14px;
  padding: 4px;
  border-radius: 100px;
  background-color: #f5bde6;
  color: #363a4f;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.notification .close-button:hover {
  background: #f5bde6;
}

.notifications-popup-list {
  margin-top: 8px;
  min-width: 400px;
}

.notifications-popup-list .notification > box {
  color: #f4dbd6;
  background-color: rgba(36, 39, 58, 0.9);
}

.indicator .progress {
  border-radius: 100px;
  background-color: rgba(36, 39, 58, 0.9);
  margin-left: 24px;
}

.indicator .progress .fill {
  border-radius: 100px;
  background-color: #f5bde6;
  color: #363a4f;
  min-width: 60px;
}

.indicator .progress .fill image {
  margin-right: 14px;
}

.indicator .progress .fill label {
  margin: 3px;
}

.perfs_header {
  padding: 4px 8px 4px 8px;
  border-radius: 20px;
}

tooltip > * > * {
  background-color: rgba(36, 39, 58, 0.9);
  color: #f4dbd6;
  padding: 20px;
  border-radius: 20px;
}

.loop,
.shuffle {
  color: #f5bde6;
}

.clipboard {
  min-width: 600px;
}

.clipboard .header entry {
  padding-left: 14px;
  font-size: 16px;
}
.clipboard scrolledwindow {
  min-width: 400px;
  min-height: 550px;
}

.clipboard_header > image {
  margin-right: 8px;
}

.clipboard .clipboard-item {
  transition: all 0.2s ease;
  padding: 12px;
  border-radius: 24px;
}

.clipboard .clipboard-item label.description {
  color: rgba(244, 219, 214, 0.75);
}

.clipboard .clipboard-item image {
  transition: all 0.2s ease;
  margin-left: 2px;
  margin-right: 10px;
}

.clipboard .clipboard-item:hover {
  background: #363a4f;
}

.clipboard .clipboard-item:hover .title {
  color: #f4dbd6;
}

.clipboard .clipboard-item:focus {
  background: #f5bde6;
  color: #24273a;
}

.clipboard .clipboard-item:focus label.description {
  color: #363a4f;
}
